* {
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(245,30,164,0.5);
    display: flex;
    align-items: center;justify-content: center;
}
.box{
    display:grid;
    grid-template-columns: repeat(3, 310px);
    column-gap: 80px;
    row-gap: 30px;
}
.box1{
    height:300px;
    width: 300px;
    border: 1px solid white;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
}
.box1:hover{
    height: 300px;
    width: 300px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border: 1px solid darkblue;
}
#circle:hover{
    background-color: rgb(191, 127, 255);
}
#circle1:hover{
    background-color: rgb(255, 127, 229);
}
#circle2:hover{
    background-color: rgb(57, 144, 220);
}
#circle3:hover{
    background-color: red;
}
#circle4:hover{
    background-color: yellow;
}
#circle5:hover{
    background-color:rgb(242, 160, 9);
}