* {
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(245,30,164,0.5);
    display: flex;
    align-items: center;justify-content: center;
}
.box{
    display:grid;
    grid-template-columns: repeat(3, 310px);
    column-gap: 80px;
    row-gap: 30px;
}
.box1{
    height:320px;
    width: 360px;
    border: 1px solid white;
    background: white;
    border-radius: 15px;
}
.box1:hover{
    background: darkblue;
    border: 1px solid darkblue;
}