* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 

html,body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245,30,164,0.5);
} 

.box {
    display:grid;
    grid-template-columns: repeat(3, 310px);
    column-gap: 30px;
    row-gap: 30px;
} 

.box1 {
    height:300px;
    width: 300px;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
}

.box1:hover {
    height: 300px;
    width: 300px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    transition: 2s;
    transform: scale(1.1);
    color: navy;
}

.circle1:hover {
    background-color: rgb(191, 127, 255);
}

.circle2:hover {
    background-color: rgb(255, 127, 229);
}

.circle3:hover {
    background-color: rgb(57, 144, 220);
}

.circle4:hover {
    background-color: red;
}

.circle5:hover {
    background-color: yellow;
}

.circle6:hover {
    background-color:rgb(242, 160, 9);
}

.element {
    text-align: center;
    margin-bottom: 100px;
    font-weight: bolder;
    font-style: inherit;
}

.border {
    margin-left: 145px;
    background-color: darkcyan;
    border-radius: 8px;
    height: 60px;
    width: 700px;
    border: 1px solid white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border:hover {
    transition: 2s;
    color:navy;
    background-color: rgba(255, 255, 0, 0.797);
}